@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.bg-container-form {
  background-color: #37176b69;
  isolation: isolate;
  /* overflow: hidden; */
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  box-shadow: inset 0 0 11px #a928e0;
  display: flex;
  color: white;
  /* transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow; */
}

.running-text {
  font-family: 'Source Code Pro', monospace;
}

.bg-input-transparent {
  background: transparent;
}

.no-eye-icon {
  appearance: none;
  -webkit-appearance: none;
  color:red;
}

.terminal-scroll-bar::-webkit-scrollbar {
  width: 0px;
  min-height: 100%;
}

input[type="radio"] {
  zoom: 1.3; /* Perbesar ukuran */
}